add-button {
  margin-left: auto;
  background-color: aliceblue;
}

.add-button:hover {
  background-color: brown;
  color: blanchedalmond;

}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
 }

.form-add-book{
  display: flex;
  color: blue;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black; /* Black background with opacity */
}

input {
  font-size: 20px;
}

.book-item {
  min-width: 200px;
  border-style: solid;
  border-radius: 5px;
  border-color: brown;
}